<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/init.php"
         colors="true"
         stopOnFailure="false">
	<testsuites>
		<testsuite name="email-unit">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
		<testsuite name="email-unit-reverse">
			<file>tests/AllTestsReverse.php</file>
		</testsuite>
	</testsuites>
</phpunit>
